* {
    margin: 0;
    padding: 0;
}
body{
    width:1280px;
    height:1626px;
}
.menu{
    height:50px;
    text-align: center;
}
.menuitems{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    size:18px;
    line-height: 18px;
    letter-spacing:2.7px;
    display:inline-block;
    padding:25.5px 36px 25.5px 36px;
}
a {
    text-decoration: none;
    color:#FF0000;
}
.img{
    object-fit: contain;
    width:100%;
}
.title{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.text{
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    text-transform: uppercase;
    font-weight: 700;
    font-size:16px;
    line-height:26px;
}
.container{
    width:1145px;
    height:132px;
    padding:38.5px 67.5px 0 67.5px;
}
.container2{
    width: 1145px;
    height:216px;
    padding:28px 67.5px 66px 67.5px;
}
.section{
    padding-top:25.5px;
}
.block{
    width:191px;
    height: 51px;
    margin: 0 auto;
    display: block;
    padding-bottom: 42px;

}
.get{
    background-color: #FF0000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    size:12px;
    line-height: 12px;
    text-transform: uppercase;
    border-radius: 4px;
    border-color: #FF0000;
    padding:18px 43.5px 17px 42.5px;
    color:#FFF;
}
.end{
    text-align: right;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    size:16px;
    line-height: 19.5px;
    padding:40px;
}